html,
body{

    background: url(FRENTE_pages-to-jpg-0001.jpg);
	background-size: cover;
	margin: auto;
	width: 97%;
	height: auto;
	background-clip: border-box;
	background-repeat: no-repeat;
	opacity: 0.9;
}

header{
	width: 30%;
	
	margin-left: 35%;
	float: center;
	background-color: black;
	height: 55px; 
	/* position: relative; */
	/* z-index: 2; */
	text-align: center;
	background-position: center;
	display: flex;
	border: 2px solid ;
	border-radius: 25px;
}

.list{
	margin: 10;
	width: 100%;
	display: block;
	justify-content: space-between;
	padding: 0;
}

li{
	list-style: none;
	display: inline-block;
	text-align: center; 
}

li a{
	text-decoration-style: none;
	text-decoration: none;
	font-size: 18px;
	margin: 50px;
	color: white;
	font-family: sans-serif;
	position: relative;
    font-weight: inherit;
    line-height: inherit;
	text-align: center;
	/* background-color: aqua; */
}

li a:hover{
	background-color: #403c3c;
}


.about{
	
	float:right;
	margin-top: 40px;
	padding-left: 70%;
	color: white;
}


.contact{
	
	float:right;
	margin-top: 25%;
	padding-left: 70%;
	color: white;
}


