html,
body{

    background: url(FRENTE_pages-to-jpg-0001.jpg);
	background-size: cover;
	margin: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	opacity: 0.8;
	
	
	
}

header{
	margin: 0 auto;
	display: flex;
	background-color: black;
	max-width: 600px;
	width: 100%;
	border: 2px solid ;
	border-radius: 25px;
	position: static;
		




	/* margin-left: 35%;
	float: center;
	background-color: black;
	height: 55px; 
	/* position: relative; */
	/* z-index: 2; */
	/* text-align: center;
	background-position: center;
	display: flex;*/
} 

.menu{

	list-style: none;
	display: flex;
	align-items: center;
	

}

li{
	list-style: none;
	display: flex;
	text-align: center; 
	padding-left: 50px;
	
}

li a{
	margin: 0;
	display: block;
	text-decoration: none;
	font-size: 18px;
	color: white;
	font-family: sans-serif;
	/* padding: 1px ; */
	border-radius: 10px;
	margin-left: 10px;
	
}

li a:hover{
	background-color: #403c3c;
	display: block;
	text-decoration: none;
	
}


.about{
	
	float:right;
	color: white;
	
}


.contact{
	
	float:right;
	padding-top: 17%;
	padding-left: 70%;
	color: white;
}

img{
	display:flex;
	width:30px;
	padding-left: 50px;
	align-items: center;
	

}

.container{
	flex-wrap: wrap;
}

